# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.venv/
ENV/
.Python
pip-log.txt
pip-delete-this-directory.txt

# Distribution / Packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
*.log

# Unit test / Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
results.html

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env
.env.*

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pytype
.pytype/


# IDE / Editor files
# VS Code
.vscode/
# PyCharm
.idea/
# Eclipse
.project
.pydevproject

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db